* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(-45deg, #00031e, #020031, #000000, #121212);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    color: white;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

#menu-btn {
    display: none;
    font-size: 20px;
}

.section {
    padding: 60px 20px;
    text-align: center;
}


.card {
    background: #f4f4f4;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

footer {
    background: #32195d;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        background: #333;
    }

    nav.active {
        display: flex;
    }

    #menu-btn {
        display: block;
    }

    .home-container {
        flex-direction: column;
    }
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.home-image img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    background: linear-gradient(45deg, #70e8e8, #b353b3, #34eaea);
    background-size: 300% 300%;
    animation: glow 5s infinite linear;
}

@keyframes glow {
    0% { background-position: 0% }
    100% { background-position: 300% }
}

#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
